*,
*::before,
*::after {
    box-sizing: border-box;
}
.input_section {
    --textColor: #374151;
    --borderColor: #374151;
    --activeBorderColor: #2390fa;
    --errorColor: #fd393e;
}
.input_block {
    position: relative;
}
.input_block:focus-within::after {
    width: 100%;
    left: 0;
}
.input {
    display: block;
    position: relative;
    width: 100%;
    outline: none;
    padding: 0 24px 0 8px;
    background-color: transparent;
    border: none;
    border-bottom: 1px var(--borderColor) solid;
}
.input_block::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    left: 50%;
    background-color: var(--activeBorderColor);
    transition: 0.5s;
}
.label {
    font-weight: 600;
    color: var(--textColor);
}
.is_error .label {
    color: var(--errorColor);
}
.is_error .input {
    border-color: var(--errorColor);
}
.is_error .input_block::after {
    background-color: var(--errorColor);
}
.is_error .icon_x {
    color: var(--errorColor);
}

.error_box {
    font-size: 14px;
    text-align: left;
    color: var(--errorColor);
}

.not_multi {
    display: flex;
}
.not_multi .label {
    flex-shrink: 0;
    margin-right: 8px;
}
.not_multi .right {
    flex-grow: 1;
}
